.img1 {
    width: 100%;
    object-fit: contain;
}
.img2 {
    width: 100%;
    object-fit: contain;
}
.img3 {
    width: 100%;
    object-fit: contain;
}
.box{ 
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid black;
    background-color: lightpink;
    border: solid 10px;
  
  }
.login{ 
    margin-top: 30px;
    width: 25%;
    height: auto;
    border-radius: 50px;
    text-align: center;
    flex-direction: column; 
    border: solid black;
    background-color: palevioletred;
  }
  .login h2{
      color: blanchedalmond;
      font-family: serif;
      font-weight: bold;
      font-style: italic;
      text-decoration: underline;
  }
  
  .button{ 
    height: 30px;
    margin-top: 10px;
    color: #0a0406;
    }