/* ul{
    background-color: black;
} */
li{
    color: #f0a4a4;
  font-size: 50px;
  text-decoration: none;
  font-family: Serif;
  font-style: italic;
  display: inline;
  padding: 20px;
  float: right; 
}
.Nav {
    align-items: center;
    justify-content: center;
    height:  100px;
    background-color: black;
    border: solid 5px  #f0a4a4 ;

}